<h1>Critical</h1>

{% for result in priority_payload %}
  <a href={{result['incident_url']}}>{{result['incident_uuid']}}</a>: {{result['incident_shortname']}} -{{result['Assignee']}}
{% endfor %}

<h1>Other</h1>

{% for result in other_payload %}
  <a href={{result['incident_url']}}>{{result['incident_uuid']}}</a>: {{result['incident_shortname']}} -{{result['Assignee']}}
{% endfor %}
